***Selidji Tossou***

These codes are generated using *Google Colaboratory*
---


---




# Basics of Python

<a id = 'sec1'></a>

## I. Variables

## 1. *Value assignment* and *type* of variable
I am assigning respectively values **30.5** and **51** to variables **a** and **b**, and then I am computing the summ of **a + b** called **sum**

In [1]:
a, b = 30.5, 51
sum = a + b
print("a + b =", sum)

print("The type of sum is ", type(sum))

a + b = 81.5
The type of sum is  <class 'float'>

### 2. True or False?

In [2]:
5 == (3 + 2)

True

In [3]:
5.00001 == (3 + 2)

False

## 3. Converting integer to float and float to integer

In [4]:
v = 3
v = float(v)
type(v)

float

In [5]:
p = 3.02
#p = int(p)
type(p)

float

<a id = 'sec2'></a>
## II. Collection of Variables

### 1. Repeat an element a certain number of times

In [6]:
x = ['mango']
b = int(input("How many times?"))
fruit = x * b
print(x, ' repeated ', b, ' times is : ', fruit)

How many times?5
['mango']  repeated  5  times is :  ['mango', 'mango', 'mango', 'mango', 'mango']

## 2. Replacement in a list

Replace every second element by "strawberry" starting for the first element. In python the index of the first element is "0".

In [7]:
for i in range(len(fruit)):
  if (i % 2) == 0:
    fruit[i] = ["strawberry"]

print(fruit)

[['strawberry'], 'mango', ['strawberry'], 'mango', ['strawberry']]

### 3. Dictionnary

Dictionnary contains for each key value, a label.

In [8]:
car = { "brand" : "Audi","model" : "Q2", "year" : 1980}
print(car)

{'brand': 'Audi', 'model': 'Q2', 'year': 1980}

<a id = 'sec3'></a>

## III. Data Types and String Manipulation

### 1. Printing, capitalizing, and lower case

In [9]:
Text = "My name is Selidji! I love Python."
print(Text)

print("My introduction is in capital letters: ", Text.isupper())
Text = Text.upper()
print("My introduction is now in capital letters: ", Text)
Text = Text.lower()
print("My introduction is now converted in lower case: ", Text)

My name is Selidji! I love Python.
My introduction is in capital letters:  False
My introduction is now in capital letters:  MY NAME IS SELIDJI! I LOVE PYTHON.
My introduction is now converted in lower case:  my name is selidji! i love python.

<a id = 'sec4'></a>

### 2. Conditional Statement
Let's check if x is less than y.

In [10]:
x = 20
y = 0
if x <= y: #checking whether 'x' is less than 'y'
  print("X is less than Y") #if 'x' is indeed greater than 'y', then print the statement
else:
  print(x<y)

False

### 3. Checking password

In [11]:
name = input("Please enter your name: ")
id = input("Please enter your ID: ")
password = input("Please enter your password: ")

if id == "Python": #conditional statement
    if password == "Jupyter":
      print("Welcome Mr ", name) #if the conditional statement is true then print Welcome
    else:
      print("Please verify your password.")
else: #this is used to provide an alternate option or command if in case the conditional statement is not true
    print("Please verify your ID or contact your administrator to create an account.") #if the conditional statement is not true then print "Good Bye"

Please enter your name: Selidji
Please enter your ID: Hello
Please enter your password: Hello
Please verify your ID or contact your administrator to create an account.

<a id = 'sec5'></a>

## IV. Loops

### 1. Print Data Science 5 times using for loop

In [12]:
a = "Data Science"
for i in range(5): #The iterative variable 'i' is running 5 times
    print(a)

Data Science
Data Science
Data Science
Data Science
Data Science

### 2. Print all the even numbers from 1 to 20 (both inclusive) using for loop.

In [13]:
for i in range(2,21,2): #here the loop is running from 2 to 21 at an interval of 2
    print(i)

for x in range(20+1):
  if x > 0 and x % 2 ==0:
    print(x)

2
4
6
8
10
12
14
16
18
20
2
4
6
8
10
12
14
16
18
20

<a id = 'sec6'></a>

## V. Function

### 1. Check whether the number 33 is even or odd

In [14]:
def even_odd(y):
    if(y % 2 == 0):
        return 'the number is even'
    else:
        return 'the number is odd'

In [15]:
even_odd(33)

'the number is odd'

In [16]:
even_odd(12)

'the number is even'

### 2. Getting the unique values from a given list

In [17]:
def set(list):
    l=[]
    for i in list:
        if(i not in l):
            l.append(i)
    return l

In [18]:
list = [1,2,3,3,11,34,3,3,4,5]
set(list)

[1, 2, 3, 11, 34, 4, 5]

### 3. Addition without Argument.

In [19]:
var1=1204
var2=344536

def f():
    return var1+var2

In [20]:
f()

345740